<div ng-init="initHomeCtrl()" class="home-container">
    <div class="home-description">Photo upload process in 3 simple steps</div>
    <div class="home-description-steps">
        <div class="home-description-step">
            <img src="app/assets/photo_icon.png">
            <div><span>1 </span>Choose the picture with the unknown item and upload it</div>
            <input class="file-input" type="file" id="fileUpload" name="file" />
            <label for="fileUpload">Choose a file</label>
            <div cg-busy="promise"></div>
            <button type="button" class="search-button" ng-click="searchTags()">search matches</button>
        </div>
        <div class="home-description-step">
            <img src="app/assets/click_icon.png">
            <div><span>2 </span>Click on the appropriate tag</div>
            <input class="match-tag" type="button" value="{{mainTag}}" ng-click="addSearch(mainTag)" />
            <div class="tag-container" ng-repeat="tagName in expectedTags">
                <div class="col-sm">
                    <input class="match-tag" type="button" value="{{tagName}}" ng-click="addSearch(tagName)" />
                </div>
            </div>
        </div>
        <div class="home-description-step">
            <img src="app/assets/search_icon.png">
            <div><span>3 </span>Search it in Wehkamp's database</div>
            <button type="button" class="search-button" ng-click="searchWehkamp()">search Wehkamp</button>
        </div>
    </div>
</div>

