<div ng-init="initHomeCtrl()" class="container">
    <div><p class="lead">See N Solve Photo processing</p></div>
    <div class="row" style="display: inline-flex;">
        <label for="fileUpload">Choose your File</label>
        <input type="file" class="form-control-file" id="fileUpload" name="file">
        <button type="button" class="btn" ng-click="searchTags()">Search matches</button>
    </div>
    <div class="row">
        <input type="button" value="{{mainTag}}" ng-click="addSearch(mainTag)" />
    </div>
    <div class="row">
        <div ng-repeat="tagName in expectedTags">
            <div class="col-sm">
                <input type="button" value="{{tagName}}" ng-click="addSearch(tagName)" />
            </div>
        </div>
    </div>
    <button type="button" class="btn" ng-click="searchWehkamp()">Search Wehkamp</button>

    <!--<div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="..."></iframe>
        </div>
    </div>-->
</div>


    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; SeeNSolve Team Wehkamp Hackaton 2018</p>
                </div>
            </div>
        </footer>
    </div>
