<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
               SeeNSolve
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" ui-sref-active="active">
                    <a id="home" ui-sref="home"><i class="glyphicon glyphicon-home"></i>Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>